In [78]:
import json
import os
from os import path
import pathlib
import shutil

import pandas as pd

In [26]:
def unite_combined_results(csv_path_list):
    df_list = []
    for c in csv_path_list:
        local_df = pd.read_csv(c)
        id_name = path.basename(c).split(".")[0]
        print(id_name)
        local_df["run_id"] = [id_name] * len(local_df)
        df_list.append(local_df)
    df_combined = pd.concat(df_list, ignore_index=True)
    return df_combined

In [27]:
csv_dir = "boltz_testruns"
csv_path_list = [
    path.join(csv_dir, f) for f in os.listdir(csv_dir) if ".csv" in f
]

In [24]:
csv_path_list

['boltz_testruns/combined_results_ali.csv',
 'boltz_testruns/combined_results_pocket_constraints.csv']

In [28]:
df_combined = unite_combined_results(csv_path_list)

combined_results_ali
combined_results_pocket_constraints

In [29]:
df_combined

,nclash,fnat,fnonnat,tm-score,lddt,lrmsd,irmsdbb,irmsdsc,distance,theta,seqid,dockq,classification,clash_fraction,structure_name,structure_index,run_id
0,10,0.7414,0.2182,0.6077,0.8893,2.2573,1.0326,1.8729,0.4138,9.1339,50.00,0.7847,"low_id,medium",0.208333,8JEL,1,combined_results_ali
1,8,0.6724,0.1522,0.6128,0.8837,1.5238,0.9929,2.2406,0.7767,3.9089,50.00,0.7789,"low_id,high",0.166667,8JEL,2,combined_results_ali
2,9,0.6552,0.0952,0.6125,0.8848,2.1272,0.8410,1.9367,1.0186,7.2702,50.00,0.7857,"low_id,high",0.187500,8JEL,4,combined_results_ali
3,17,0.0517,0.9444,0.4611,0.7816,25.3220,14.4640,14.9923,5.8361,144.7285,50.24,0.0545,"low_id,incorrect",0.314815,8J7E,3,combined_results_ali
4,15,0.1724,0.8462,0.4927,0.7981,14.7341,6.6202,7.3993,7.7997,61.1204,50.24,0.1570,"low_id,incorrect",0.277778,8J7E,0,combined_results_ali
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5,0.0000,0.9756,0.4597,0.7949,49.9974,23.7329,24.3793,28.9393,128.4585,50.47,0.0107,"low_id,incorrect",0.079365,8T9Z,3,combined_results_pocket_constraints
96,17,0.0000,1.0000,0.4954,0.7976,48.0085,19.7267,19.9129,24.8959,119.1476,50.47,0.0120,"low_id,incorrect",0.269841,8T9Z,0,combined_results_pocket_constraints
97,2,0.0000,0.9714,0.4558,0.7971,48.3817,23.7355,24.3196,27.3061,128.3615,50.47,0.0113,"low_id,incorrect",0.031746,8T9Z,2,combined_results_pocket_constraints
98,7,0.0000,1.0000,0.4596,0.7976,48.1665,17.5212,18.3224,25.5133,124.4201,50.47,0.0125,"low_id,incorrect",0.111111,8T9Z,4,combined_results_pocket_constraints
99,8,0.0000,1.0000,0.4548,0.7970,54.1342,25.2857,25.5432,33.4946,122.7998,50.47,0.0092,"low_id,incorrect",0.126984,8T9Z,1,combined_results_pocket_constraints

**Note:** Relevant to extract confidence `.json` files

In [75]:
def fetch_confidence_json(input, output_path, pattern="*.json"):
    in_path = pathlib.Path(input)
    in_json_paths = [
        p for p in in_path.rglob(pattern) 
    ]
    os.makedirs(output_path, exist_ok=True)
    for i in in_json_paths:
        shutil.copy(i, pathlib.Path(output_path) / i.name)

In [76]:
fetch_confidence_json(
    "../raw_files_m_boltz_hackathon/ali_testrun/tmp", 
    "boltz_testruns/ali_confidence"
)

In [77]:
fetch_confidence_json(
    "../boltz-hackathon-template_pocket_constraints/pocket_constraint_run/tmp", 
    "boltz_testruns/pocket_constraints_confidence"
)